[Unit]
Description=GoGradeAPI
Requires=gogradeweb.service
Requires=rethinkdb.service
After=docker.service
After=rethinkdb.service
After=gogradeweb.service

[Service]
ExecStartPre=/usr/bin/docker pull registry.lanciv.com:5000/gogradeapi
ExecStart=/usr/bin/docker run --link rethinkdb-1:RETHINKDB --volumes-from gogradeweb-1 --rm --name gogradeapi-1 -p 80:5005 registry.lanciv.com:5000/gogradeapi --staticDir /opt/app/build
ExecStop=/usr/bin/docker stop gogradeapi-1

[X-Fleet]
X-Conflicts=gogradeapi.service



docker run -d --link grade-rethinkdb:RETHINKDB --volumes-from gogradeweb-1 --name gogradeapi-1 -p 80:5005 lanciv/gogradeapi --staticDir /opt/app
